<tr>
     <td>
       <% @categories.each do |category| %>
       <h4><strong></strong><%= category.name %></strong></h4> <% end %>
       <br>
     </td>
   </tr>

   <%= link_to 'Create New Category', new_admin_category_path %>